<div class="component-article-featured">
    <div class="top-bar">
        <p> {{ top_title }}</p>
        <a href="{{ top_link_url }}">{{ top_link_text }}</a>
    </div>
    <div class="article-container">
        <div class="title-wrapper">
            <div class="smalltext">{{ article }}</div>
            <h2 class="largetext">{{ title }} </h2>
            <a href="{{ link_url }}" class="button">{{ link_text }}</a>
        </div>    
    </div>
    <div class="section-wide-img">

    </div>
</div>