<div class="logo-container">

  <div class="textblock">
    <div class="iconheading">
       <img src="{{ img_url1 }}" alt="{{ alt_text1 }}" class="art_img">
       <h4>{{ block_title1 }}</h4>
    </div>
    <p>{{ block_text1 }}</p>
  </div>
  <div class="textblock">
    <div class="iconheading">
        <img src="{{ img_url2 }}" alt="{{ alt_text2 }}" class="art_img">
        <h4>{{ block_title2 }}</h4>
    </div>
    <p>{{ block_text2 }}</p>
  </div>
  <div class="textblock">
    <div class="iconheading">
        <img src="{{ img_url3 }}" alt="{{ alt_text3}}" class="art_img">
        <h4>{{ block_title3 }}</h4>
    </div>
    <p>{{ block_text3 }}</p>

  </div>



</div>
