<div class="component-large-cta">
  {{ image|raw }}
  <div class="col-wrapper">
    <div class="left-side">
      <div class="left-top"><h2>{{ title|raw }}</h2>
      </div>
      <a href="{{ link_url }}" class="button">{{ link_text }}</a>
    </div>
    <div class="right-side">{{ description|raw }}</div>
  </div>
</div>