<div id="stat-row">

    <div>
		<h2>{{title}}</h2>
		<h3>{{statistic}}</h3>
		<p>{{description}}</p>
	</div>

	<div>
		<h2>{{title2}}</h2>
		<h3>{{statistic2}}</h3>
		<p>{{description2}}</p>
	</div>

	<div>
		<h2>{{title3}}</h2>
		<h3>{{statistic3}}</h3>
		<p>{{description3}}</p>
	</div>
	<div>

		<h2>{{title4}}</h2>
		<h3>{{statistic4}}</h3>
		<p>{{description4}}</p>

	</div>
</div>
