<div class = "section-cta">
    <div class = "content-cta">
        
        <div class = "text-cta">
            <h2> {{ text }} </h2>
        </div>
        <div class = "buttons-cta">
            <div class = "left-button-cta">
                <a href= "{{ primary_link_url}}" class = "email-button-cta"> {{ primary_link_text}} </a>
            </div>
            <div class = "right-button-cta">
                <a href= "{{ secondary_link_url}}" class = "other-button-cta"> {{ secondary_link_text}} </a>   
            </div>
        </div>
        
    </div>
</div>