<div class="component-blog-teaser">
    <div class="blog-container">
      <div class="col-wrapper">
        <div class="greentext">{{ above_title }}</div>
        <h2 class="darkpurpletext">{{ title }} </h2>
        <div>
            {{ description }}
        </div>
        <a href="{{ link_url }}" class="button">{{ link_text }}</a>
      </div>
    {{ image|raw }}
    </div>
</div>